<h1 id="page_title">Blog Posts</h1>

<div id="posts_wrapper" class="skinny_wrapper">
	<% @posts.each do |post| %>
	<div class="post">
		<p class="date"><%= post.created_at.strftime('%A, %B %d') %></p>
		<h2><a href="#"><%= link_to post.title, post %></a></h2>
		<hr>
	</div>
	<% end %>
</div>

<%= will_paginate @posts %>