<div id="post_show_content" class="skinny_wrapper wrapper_padding">
		<header>
			<p class="date"><%= @post.created_at.strftime('%A,%b %d') %></p>
			<h1><%= @post.title %></h1>
			<hr>
		</header>

		<div id="content">
			<%= markdown @post.content %>
		</div>

		<% if user_signed_in? %>
			<div id="admin_links">
				<%= link_to "Edit Post", edit_post_path(@post) %>
				<%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
			</div>
		<% end %>

		<hr>

		<div id="share_box">
			<p>Share First Post</p>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
		</div>

		<hr>

		<%= render 'disqus' %>

	</div>
