@import 'normalize';

$dark: #424652;
$white: #FFFFFF;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;

* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: #F6F6F6;
}

.wrapper{
	width: 90%;
	margin: 0 auto;
}

.skinny_wrapper{
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
}

.wrapper_padding{
	padding: 4rem 0;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.hidden{
	display: none;
}

.notice, .alert {
	text-align: center;
	padding: 1em 0;
	border-bottom: 1px solid $border;
}

h1, h2, h3, h4, h5, h6, p, ul, li{
	color:dark;
}

h1 {
	font-size: 2.5rem;	
}

h2 {
	font-size: 2rem;	
}

h3 {
	font-size: 1.75rem;	
}

h4 {
	font-size: 1.375rem;	
}

h5 {
	font-size: 1.25rem;	
}
h6 {
	font-size: 1rem;	
}

p, li {
	font-size: 1.1rem;
	line-height: 1.75rem;
}

p, ul, ol {
	margin: 0 0 1.6em 0;
}

hr {
	width: 3em;
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid $highlight;
	margin: 2rem 0;
}


#main_navigation {
	padding: 2.5em 5%;
	border-bottom: 1px solid $border;
	.name {
		font-weight: 700;
		font-size: .8em;
		letter-spacing: 3px;
		text-transform: uppercase;
		border: 2px solid $border;
		padding: 1rem;
		text-decoration: none;
		color: $dark;
		float: left;
	}
	nav {
		float:right;
		padding-top: 1.5rem;
		a{
			color: $dark;
			text-decoration: none;
			margin: 0 1rem;
			font-size: 1rem;

		}
	}
}

#page_title{
	text-align: center;
	border-bottom: 1px solid $border;
	padding: 3em 0;
	font-size: 1rem;
	text-transform: uppercase;
}

#main_footer {
	padding: 2.5em 5%;
	border-top: 1px solid $border;
	.copyright{
		float: left;
		font-size: .93m;
		margin: 0;
	}
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	max-width: 100%;
	height: 3e,;
	border: 2px solid $border;
	padding: 1em;
	margin: .5em 0 2em 0;
}

textarea{
	min-height: 20em;
}

input[type="submit"], .button{
	outline: none;
	background: transparent;
	border: 2px solid $border;
	text-align: center;
	font-size: 1em;
	color: $dark;
	text-decoration: none;
	padding: 1em 2em;
	&:hover{
		border:2px solid $highlight;
		color: $highlight;
	}
}

@import 'welcome';
@import 'posts_projects';
@import 'pygments';